/* Add CSS Styling */
.left {
    background-color: rgb(0, 0, 0);
    color: #ffffff;
}

.right {
    background-color: hsl(60, 100%, 50%);
} 

.left,
.right {
    font-size: 28px;
    font-family: Helvetica, "Times New Roman", sans-serif;
}